a 
{
color: #972337; 
text-decoration: none;
}
div.content
{
font-family: Helvetica Neue
font-size: 24px;
font-style: normal; 
font-variant: normal; 
font-weight: 300;
}
.topnav 
{
background-color: #fff;
overflow: hidden;
}
a:link 
{
background-color: #fff;
color: #972337;
}
.topnav a.visited 
{
background-color: #fff;
color: #972337;
}
a:link:active 
{
background-color: #fff;
color: #972337;
}
a:visited:active
{
background-color: #fff;
color: #972337;
}
a:hover 
{
background-color: #eaeaea;
color: #6d1826;
}
