.topnav {
    background-color: #fff;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #972337;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #eaeaea;
    color: #6d1826;
}
.topnav a.active {
    background-color: #fff;
    color: white;
}


body {
    background-color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

a {color: #48577D; text-decoration: none;} 

  
h1, h2 {margin-bottom: 15px} 
  
h1 {font-size: 18px;} 
h2 {font-size: 16px} 
  
#container { 
    width: 700px; 
    margin: 150px auto; 
    background-color: #eee; 
    padding:15px; 
    overflow: hidden; 
} 
  
    #main { 
        width: 490px; 
        float: left; 
    } 
      
        #main table { 
            width: 480px; 
        } 
          
            #main table th { 
                padding: 10px; 
                background-color: #48577D; 
                color: #fff; 
                text-align: left; 
            } 
              
            #main table td { 
                padding: 5px; 
            } 
              
            #main table tr { 
                background-color: #d3dcf2; 
            } 
      
    #sidebar { 
        width: 200px; 
        float: left; 
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.head {
text-align: center;
font-family: "Times New Roman", Times, serif;
color: #000000;
}
div.tab {
text-indent: 50px;
text-align: left;
font-family: "Times New Roman", Times, serif;
color: #972337;
}


